/* FRONTPAGE CSS */
.fp {
    width: 100vw;
    height: 100vh;
    padding-top: 8rem;

    background-image: linear-gradient(to right bottom, var(--color-orange-trans), rgba(70, 70, 69, 0.3)), url(../images/bg.jpg);
    /* background-image: linear-gradient(to right bottom, rgba(70, 70, 69, 0.5), rgba(70, 70, 69, 0.5)), url(../images/bg.jpg); */
    background-size: cover;

    display: flex;
}

.fp__container {
    width: 1020px;
    margin: 0 auto;
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    align-items: center;
}

.fp__col-1 {
    color: var(--color-white);
}

.fp__col-1 h1 {
    font-family: LakkiReddy;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 4.8rem;
}

.fp__col-1 p {
    font-size: 1.6rem;
}

.fp__col-2 {}

.fp__col-2 img {
    width: 100%;
    box-shadow: 1px 1px 10px rgba(70, 70, 69);
    border-radius: 100%;
}