@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.order-cpt {
    max-width: 1020px;
    margin: 0 auto;

    animation: slide-in .5s ease-in
}

.order-cpt h1 {
    margin-top: 5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: LakkiReddy;
    font-size: 3.6rem;
    color: var(--color-orange);
}

.order-cpt__container {
    width: 100%;
    line-height: 1.5;
    font-size: 1.6rem;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid var(--color-orange);
}

.row-header {
    font-weight: 600;
}

div.row span {
    text-align: start;
    text-transform: uppercase;
    padding: 1rem 0;
}

.row span {
    padding: 2rem 0;
}

.total {
    margin-top: 5rem;
    font-size: 1.6rem;
    font-weight: 600;
}