/* @keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
} */

.order-cpt {
    font-size: 1.6rem;

    position: relative;
    /* animation: slide-in .5s ease-in */
}

.order-cpt__icon {
    position: absolute;
    /* top: 1rem; */
    left: 5rem;
    height: 5rem;
    width: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    font-size: 2.4rem;
    border-radius: 50%;
    border: 2px solid var(--color-orange);
}

.order-cpt__icon--right {
    color: var(--color-orange);
}

.order-cpt__icon:hover,
.order-cpt__icon--right:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
}

.order-cpt h1 {
    margin-top: 5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: LakkiReddy;
    font-size: 3.6rem;
    color: var(--color-orange);
}

.order-cpt__container {
    width: 100%;
    line-height: 1.5;
    font-size: 1.6rem;
}

.order-cpt__container .btn {
    color: var(--color-orange);
    font-size: 1.6rem;
}

.row {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--color-orange);
}

.row-header {
    font-weight: 600;
}

div.row span {
    text-align: start;
    text-transform: uppercase;
    padding: 1rem 0;
}

.row span {
    padding: 2rem 0;
}

li.row span {
    text-transform: capitalize;
}

.order-cpt__sum {
    line-height: 5rem;
}

.order-cpt__sum div p {
    margin-top: 5rem;
    font-size: 2.4rem;
    font-weight: 600;
}

.order-cpt__sum .btn {
    font-size: inherit;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--color-white);
    text-transform: uppercase;
}

.order-cpt__sum .pay {
    background-color: var(--color-green);
}

.order-cpt__sum .pay:hover {
    background-color: var(--color-green-hover);
}

.order-cpt__sum .pay:active {
    background-color: var(--color-green);
}

.order-cpt__sum .clear {
    background-color: var(--color-orange);
}

.order-cpt__sum .clear:hover {
    background-color: var(--color-orange-hover);
}

.order-cpt__sum .clear:active {
    background-color: var(--color-orange);
}