/* CONTACT */
.reviews {
    margin-top: 5rem;
    padding: 5rem 0 10rem 0;
    background-color: var(--color-orange);
}

.reviews h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: LakkiReddy;
    font-size: 3.6rem;
    color: var(--color-white);
}

.reviews__container {
    width: 1020px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.review__box {
    margin: 0 auto;
    padding: 5rem;
    text-align: center;
    background-color: var(--color-white);
    width: 50rem;
    border-radius: 2rem;

}

.review__box h4 {
    font-size: 2.4rem;
}

.review__box p {
    font-size: 1.6rem;
}